@charset "UTF-8";
/* CSS Document */

body {background: #000000; overflow-y: scroll; overflow-x: hidden; font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 10pt; }

/* elements */
.element { position: absolute; background-repeat: no-repeat; }
.border { border: 1px solid #0066cc; }

/* level one */

/* big things */
.sky {background-image:url(../img/background.jpg); background-position: right top; }
.fullFrame { width: 100%; overflow: hidden; height: 674px; background-repeat: no-repeat; background-position: left top;  display: block; max-width: 1200px; }
.clouds { position: absolute; opacity: 0.23; background-image:url(../img/clouds.png);}
.houses { background-image:url(../img/houses.png); opacity: 1; position: absolute; z-index:2; }
.rightGradient { background-image:url(../img/right2.png); position: absolute; z-index: 10; }

/* lights */
.lightBlink {background-image:url(../img/lightBlink.gif); width: 162px; height: 123px; top: 553px; left: 197px;}
.window { background-image:url(../img/window.gif); width: 55px; height: 39px; top: 514px; left: 1024px; }

/* monkeys */
.monkeyOne { background-image:url(../img/monkeyOne.png); width: 96px; height: 124px; top: 112px; left: 240px; }
.monkeyOneEyes { background-image:url(../img/monkeyOneEyes.gif); width: 96px; height: 124px; top: 112px; left: 240px; }
.monkeyTwo { background-image:url(../img/monkeyTwo.png); width: 121px; height: 121px; top: 365px; left: 488px; }
.monkeyAll { background-image:url(../img/monkeyAll.png); width: 327px; height: 125px; top: 480px; left: 751px; }

/* crane */
.craneBottom { background-image:url(../img/craneBottom.png); width: 24px; height: 54px; top: 542px; left: 720px; }
.craneTop { background-image:url(../img/craneTop.png); width: 18px; height: 442px; top: 331px; left: 720px; }

/* title area */
.title { background-image:url(../img/title.png); width: 209px; height: 37px; top: 80px; left: 470px; }
.cast { background-image:url(../img/cast.png); width: 288px; height: 156px; top: 150px; left: 470px; }
.fb-like { width: 150px; height: 50px; top: 330px; left: 470px; }
.extraCredit { top: 680px; left: 20px; }

/* sound */
#jquery_jplayer_1, #jp_container_1 {z-index: 11; top: 80px; left: 690px;}
.jp-play, .jp-pause { color: #000000; text-decoration: none; font-family: Helvetica, Arial, sans-serif; }


/* MediaQueries */
@media all and (max-width:750px) {
	.title { top: 50px; left: 80px; }
	.cast { top: 250px; left: 80px; }
	.fb-like { top: 430px; left: 80px; }
	#jquery_jplayer_1, #jp_container_1 { top: 90px; left: 80px; }	
	.jp-play, .jp-pause { color: #ffffff; }
}


/* level two */


.sky2 {background-image:url(../img/2/back.jpg); }

.theImg { width: 506px; height: 501px; top: 140px; left: 688px; }
.swirl { width: 326px; height: 321px; top: 229px; left: 777px; display: none; }
.theSwirlContainer  { width: 326px; height: 321px; top: 229px; left: 777px; border: 1px solid #990000; }
