@charset "UTF-8";
/* CSS Document */

/* MediaQueries */

@media all and (max-width:750px) {
 /* .background {
    margin-top:-200px;
  } */

	.title { top: 50px; left: 80px; }
	.cast { top: 250px; left: 80px; }
}
